# Node.js
node_modules/
dist/
.env
.env.*.local
package-lock.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.swp

# Optional OS files
Thumbs.db

#files to big
Dashboard_demo.mp4